<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.robmiller.lpsearch</string>
	<key>connections</key>
	<dict>
		<key>5D5FB98F-8F9E-4A10-B5F5-EE0BBFA96314</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE34D5E8-822C-41F9-94AE-742836AD5E74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rob Miller</string>
	<key>description</key>
	<string>Searches LiquidPlanner for tasks and projects</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search LiquidPlanner</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>lp</string>
				<key>runningsubtext</key>
				<string>Searching LiquidPlanner…</string>
				<key>script</key>
				<string>SCRIPT_FILE = "bin/lpsearch"
rubies = `~/.rvm/bin/rvm list`
current_ruby = /=[\*&gt;]\s*(\S+)/.match(rubies)[1]
puts `~/.rvm/rubies/#{current_ruby}/bin/ruby -Ku "#{SCRIPT_FILE}" "{query}"`</string>
				<key>subtext</key>
				<string>Searches LiquidPlanner for tasks and projects</string>
				<key>title</key>
				<string>Search LiquidPlanner</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5D5FB98F-8F9E-4A10-B5F5-EE0BBFA96314</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AE34D5E8-822C-41F9-94AE-742836AD5E74</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5D5FB98F-8F9E-4A10-B5F5-EE0BBFA96314</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AE34D5E8-822C-41F9-94AE-742836AD5E74</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/robmiller/lpsearch</string>
</dict>
</plist>
